---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="DebugStart - Inicio">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi animi eum inventore ipsa illo eaque dolorum ut dignissimos distinctio molestias! Excepturi facere vitae, distinctio fugiat pariatur voluptas non tenetur nostrum!</p>
</MainLayout>